<div class="container mx-5">
  <h1>Result</h1>
  <p><%= @result[:message] %></p>
  <p>SCORE: <%= @result[:score] %> / Total Score: <%= session[:total_score] %></p>
  <%= link_to("Play Again", new_path) %>
</div>
